*{
	margin: 0;
	padding: 0;
}
header{
	height: 150px;
	width: 100%;
}

#header_img{
	height: 150px;
	width: 100%;
}
nav{
	background-color: green;
	height: 30px;
	position: static;
}
#nav_list{
	list-style-type: none;
	float: right;
	margin-right: 30%;
}

#nav_list li{
	display: inline-block;
	margin-left: 25px;
	padding-top: 8px;
	
}

#nav_list li a{
	font-size: 17px;
	color: whitesmoke;
	text-decoration: none;
}

#notice_left{
	float: left;
	height: 50px;
	width: 100px;
	background-color: rosybrown;
}

.marque_section{
	position: relative;
	height: 30px;
	width: 100%;
	
}

.marquee_section  p{
	padding-top: 12px;
	color: white;
	background: black;
	border: 3px solid gray;
	height:30px;
	width:110px;
	border-radius: 0px 100px 0px 0px;
	position: absolute;


}
.marquee_section marquee{

	position: absolute;
	top: 185px;
	z-index: -1;

}
.marquee_section a{
	font-size: 30px;
}

.sectionPart{
	margin-top: 50px;
	height: 501px;
	width: 100%;
	background: ghostwhite;
}
.section1{
	height: 500px;
	width: 20%;
	float: left;
	background: #4879;
	border-right: 5px solid whitesmoke;
}
.section1 ul{
	list-style-type: none;
}
.section1 ul li{
	padding-left: 10px;
	padding-top: 20px;
}
.section1 ul li a{
	color: black;

}
.section2{
	height: 500px;
	width: 40%;
	float: left;
	
	border-right: 5px solid whitesmoke;
}
.section2 h2{
	margin-top: 40px;
	text-align: center;
	text-decoration: underline;
}
.section2 p{
	color: black;
	font-size: 18px;
	text-align: justify;

}
.section3{
	height: 500px;
	width: 38%;
	float: left;
}

.section3 img{
	height: 400px;
}
	

/*.left_section{
	
	height: 500px;
	width: 20%;
	float: left;
	border-right: 2px solid black;
}
.middle_section{
	
	margin: 0 auto;
	height: 500px;
	width: 50%;
	background: green;
}
.right_section{
	float: right;
	height: 500px;
	width: 10%;
	background: green;
}*/