*{
	margin: 0;
	padding: 0;
}
header{
	height: 150px;
	width: 100%;
}

#header_img{
	height: 150px;
	width: 100%;
}
nav{
	background-color: green;
	height: 30px;
	position: static;
}
#nav_list{
	list-style-type: none;
	float: right;
	margin-right: 30%;
}

#nav_list li{
	display: inline-block;
	margin-left: 25px;
	padding-top: 8px;
	
}

#nav_list li a{
	font-size: 17px;
	color: whitesmoke;
	text-decoration: none;
}

#notice_left{
	float: left;
	height: 50px;
	width: 100px;
	background-color: rosybrown;
}

.marque_section{
	position: relative;
	height: 30px;
	width: 100%;
	
}

.marquee_section  p{
	padding-top: 12px;
	color: white;
	background: black;
	border: 3px solid gray;
	height:30px;
	width:110px;
	border-radius: 0px 100px 0px 0px;
	position: absolute;


}
marquee{

	position: absolute;
	top: 185px;
	z-index: -1;

}
.marquee_section a{
	font-size: 30px;
}